/*

Copyright 2009 ABM-utvikling

This file is part of "Podes musikkmashup".

"Podes musikkmashup" is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"Podes musikkmashup" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with "Podes musikkmashup".  If not, see <http://www.gnu.org/licenses/>.

Source code available from: 
http://github.com/pode/musikkmashup/

*/

html {
	font-family: sans-serif;
	font-size: small; 
}

h1 {
	text-align: center;	
}

img {
	border: 0px solid black;	
}

.searchform {
	text-align: center;	
}

#content {
	margin:0 auto;
	width: 900px;	
}

#main {
	margin-right: 10%;	
	margin-left: 10%;
}

#left, #right {	
	min-height:520px;
}

#left {
	border: 1px solid black;
	float: left;
	width: 350px;
}

#right {
	float: right;
	padding-left: 15px;
	width: 320px;
}

#sortering {
	border: 1px solid grey;
	padding: 1em;
	margin-bottom: 1em;	
}

#blaing {
	margin-bottom: 1em;		
}

.antall-poster {
	padding-left: 1em;
	padding-right: 1em;
	font-size: x-small; 
}

.basisinfo {
	margin-bottom: 1em;	
	padding-left: 1em;
	padding-right: 1em;
}

.albumtittel {
	font-weight: bold;	
}

.detaljer {
	padding-left: 1em;
	padding-right: 1em;	
}

#artistvelger {
	border:1px solid black;
	margin-bottom: 15px;
	padding: 1em;
	visibility: hidden;
}

.artistbilde, .albumbilde {
	margin-right: 1em;	
}

.tilbake {
	text-align: right;
	padding-right: 1em;
}

/* Widgets */
.right-col-box {
	border: 1px solid black;
	margin-bottom: 15px;
	visibility: hidden; 
}

.widget-header {
  color: #000;
  padding: 0.2em;
  background-color: #ebebeb;
  font-weight: bold;
}

.undertittel {
	font-size: x-small;
	font-weight: normal;	
}

.widget-content {
	padding-left: 1em;
	padding-right: 1em;
}

.widget-content .overskrift {
	font-size: medium; 
	font-weight: bold;	
}

.lignende-artister {
	font-weight: bold;	
}

.les-mer {
	font-size: x-small;	
}
