html {
	font-family: sans-serif; 	
}

h1 {
	text-align: center;	
}

img {
	border: 0px solid black;	
}

.searchform {
	text-align: center;	
}

#content {
	margin:0 auto;
	width: 900px;	
}

#main {
	margin-right: 10%;	
	margin-left: 10%;
}

#left, #right {	
	min-height:520px;
}

#left {
	border: 1px solid black;
	float: left;
	width: 350px;
}

#right {
	float: right;
	padding-left: 15px;
	width: 320px;
}

#sortering {
	border: 1px solid grey;
	padding: 1em;
	margin-bottom: 1em;	
}

#blaing {
	margin-bottom: 1em;		
}

.antall-poster {
	padding-left: 1em;
	padding-right: 1em;
}

.basisinfo {
	margin-bottom: 1em;	
	padding-left: 1em;
	padding-right: 1em;
}

.albumtittel {
	font-weight: bold;	
}

#artistvelger {
	border:1px solid black;
	margin-bottom: 15px;
	padding: 1em;
	visibility: hidden;
}

.artistbilde, .albumbilde {
	margin-right: 1em;	
}

.tilbake {
	text-align: right;
}

/* Widgets */
.right-col-box {
	border: 1px solid black;
	margin-bottom: 15px;
	visibility: hidden; 
}

.widget-header {
  color: #000;
  padding: 0.2em;
  background-color: #ebebeb;
  font-weight: bold;
}

.undertittel {
	font-size: x-small;	
}

.widget-content {
	padding-left: 1em;
	padding-right: 1em;
}
